absl-py
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
torchao
--pre
ai-edge-litert-nightly==2.2.0.dev20260316
ai-edge-quantizer-nightly
jax[cpu]
scipy
numpy
tabulate
safetensors
kagglehub
transformers
multipledispatch
jaxtyping
fire
